/*Footer scetion */
.footer-div{
    height: 450px;
    font-family: "Helvetica Neue", sans-serif;
    background-color: #202124;
    padding: 3% 3% 0;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
} 
.footer-div >p:first-child{
    padding-top: 3%;
}
.footer-div >p{
    font-size: 14px;
    font-family: "Helvetica Neue", sans-serif;
    color: white;
    text-align: left;
    width: 78%;
    margin-left: 10%;
}
.footer-div >p:last-child{
    font-size: 14px;
    font-family: "Helvetica Neue", sans-serif;
    color: white;
    text-align: left;
    width: 52%;
    margin-top: 3%;
}
.footer{
    margin-top: 70px;
}
.logo{
    margin-top: 20px;
    margin-left: 129px;
  }

  .footer-div table{
    color: white;
    margin-top: -70px;
    margin-left: 240px;
    width:447px;
  }
  table a{
    
        color: white;
        font-size: 13px;
        
        text-decoration: none;
      
  }
  .footer-div td {
    cursor: pointer;
    font-size: 13px;
    text-align: left;
    padding:6px 0;
  }
  td:hover, a{
    text-decoration: underline;
  }
  .location{
    margin-top: -140px;
    margin-left: 750px; 
  }
  
  .location>a{
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
  }
  
  .play-store{
    margin-top: -20px;
    margin-left: 920px; 
  }
  
  .play-store>img{
    width: 112px;
    height: auto;
    margin-left:18px;
  }
  
  .copyright{
    width: 100px;
    margin: auto;
      text-align: center;
      margin-top: 170px;
      font-size:12.5px;
      color:#dbdbdb;
      opacity:.9;
  }

  .socialmedia-links{
    display: flex;
    justify-content: flex-end;
    margin-right: 155px;
    margin-top: -10px
  }
  
  .socialmedia-links>a{
    margin-left:10px;
  } 